@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

$font-family-base: 'Lato', sans-serif;

$boyColor: #04a;
$girlColor: #a04;

$brand-primary: #3c5a7f;

@import 'bootstrap';
@import 'locale';

.browser-message{
  display:none;
}
.no-svg {
  .browser-message{
    display:block;
    font-size: 16px;
  }
  #graph, .controls{
    display:none;
  }
}

#genders{
  li > a {
    border-color: currentColor;
  }

  li.boys{
    a, a:hover{
      color: $boyColor;
    }
    &.active a{
      background-color: $boyColor;
    }
  }
  li.girls{
    a, a:hover{
      color: $girlColor;
    }
    &.active a{
      background-color: $girlColor;
    }
  }
  li.active {
    a, a:hover{
      color: #fff;
      font-weight: bold;
    }
  }
}

#graph{
  margin: 0 auto;
  .year-title text{
    text-anchor: middle;
    dominant-baseline: hanging;
    cursor: pointer;
  }
  text.left-text{
    text-anchor: end;
  }
  text.left-text, text.right-text{
      dominant-baseline: middle;
  }
  .rows {
    rect{
      fill: #fff;
    }
    .rank_status{
      fill: #fff;
      text-anchor: middle;
      dominant-baseline: middle;
      font-size: 10px;
      pointer-events: none;
    }
  }
}

a.mb-logo-small{
  display:block;
  margin: 0 auto 20px;
  width: 221px;
  height: 23px;
  background: image-url('mashblock-open.png') center no-repeat;
  text-indent: -10000px;
  @media(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
      background-image: image-url('mashblock-open@2x.png');
      background-size: 221px 23px;
  }
}
