---
title: Most Popular Baby Names in New Zealand
---
<div class="page-header">
  <h2 class="muted">Most Popular Baby Names in New Zealand</h2>
</div>
<div id="graph"></div>
<p class='muted text-center'>Data sourced from <%= link_to "Department of Internal Affairs", "http://www.dia.govt.nz/diawebsite.nsf/wpg_URL/Services-Births-Deaths-and-Marriages-Most-Popular-Male-and-Female-First-Names?OpenDocument" %> and <%= link_to "Statistics New Zealand", "http://www.stats.govt.nz/browse_for_stats/population/births/births-tables.aspx" %></p>

<p class="text-center">Build by <%= link_to "Cameron Prebble", "http://cameron-prebble.com" %>. Based off a simular visualisation by <%= link_to "David McCandless", "http://www.informationisbeautiful.net/" %>.</p>

