---
title: Most Popular Baby Names
---

<header class="page-header">
  <h2>Most Popular Baby Names <small class="text-muted"><em>&mdash; Beta</em></small></h2>
</header>

<main class='application'>
  <ul class='list-inline'>
    <li id='locales'></li>
    <li id='genders'></li>
  </ul>

  <p>&#9733; = <strong>Most popular name for that year.</strong></p>
  <div id="graph"></div>
</main>

<div class="browser-message text-center">
Sorry, but unfortunately you are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser today</a> to better experience this site.
<hr />
</div>

<footer>
  <p class="text-center">This mashup is part of the <%= link_to "Mashblock Open Collection", "http://open.mashblock.co.nz" %>.</p>

  <p><a href="http://open.mashblock.co.nz" class='mb-logo-small'>Mashblock Open</a></p>

  <p class="text-center">Built by <%= link_to "Cameron Prebble", "http://cameron-prebble.com" %>. This is a remix of an original visualisation by <%= link_to "David McCandless", "http://www.informationisbeautiful.net/" %>.</p>

  <p class='text-center'><a href="https://github.com/Mashblock/nz-baby-names"><i class="icon-github-square"></i> Fork this project on GitHub.</a></p>

  <div class='text-center'>
    <span class='text-muted'>Data sourced from:</span>
    <ul class='list-unstyled text-center'>
      <% data.attribution.each do |source| %>
        <li><%= link_to source.name, source.url, target: '_blank' %></li>
      <% end %>
    </ul>
  </div>
</footer>

<script id='locale_tmpl' type='text/ejs'>
  <a href='#' class='locale-btn'>
    <img class='locale-btn__flag' src='img/<%%= code %>.svg' />
    <%%= name %>
  </a>
</script>

<script id='locales_tmpl' type="text/ejs">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle locale-btn" data-toggle="dropdown" aria-expanded="false">
      <img class='locale-btn__flag' src='img/<%%= code %>.svg' />
      <%%= name %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu"></ul>
  </div>
</script>

<script id='gender_tmpl' type='text/ejs'>
  <a href='#' class='btn <%%= buttonClass() %>'>
    <i class='icon-<%%= icon %>'></i>
    <%%= name %>
  </a>
</script>
